body
{
    padding: 0;
    margin: 0;
    font-family: 'Anonymous pro', monospace;
    box-sizing: border-box;
}
.hero {
    height: 100vh;
    width: 100%;
    background-image: url(textlogo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.back-video {
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    .back-video{
        width: auto;
        height: 100%;
    }
}
@media (min-aspect-ratio: 16/9) {
    .back-video{
        width: auto;
        height: 100%;
    }
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.button{
    background-color: #fff;
    color: #2f123a;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 20px  20px;
    border-radius: 35px;
}

.button1{
    transition: transform 0.4s;
    position:absolute;
    right: 70px;
    top: 30px;
}

.button2{
    transition: transform 0.4s;
    position: absolute;
    bottom:104px;
    left: 150px;

}

.button:hover{
   transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left:8%;
    transform: translateY(-50%);
} 